In [132]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import requests
from selenium import webdriver

In [166]:
executable_path = {"executable_path": "/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
browser = Browser("chrome",headless=False, **executable_path )

In [167]:
# url of scraping and open browser in split 
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [168]:
response = requests.get(url)
html = browser.html

In [169]:
#parse results with bs 
soup = bs(response.text, "html.parser")

In [170]:
#Scrape latest news title 
nasaTitle= soup.find("div", class_="content_title").text
# Print title
print(nasaTitle)

Mars Helicopter Attached to NASA's Perseverance Rover

In [173]:
# Scrape latest paragraph text
nasaBody= soup.find("div", class_="rollover_description").text
# Print body
print(nasaBody)

The team also fueled the rover's sky crane to get ready for this summer's history-making launch.

In [60]:
executable_path = {"executable_path": ""/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
browser = Browser("chrome",headless=False, **executable_path )

In [61]:
# url of scraping image and open browser in split 
url= "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [63]:
marsIm= browser.find_by_id("full_image")
marsIm.click()

In [160]:
executable_path = {"executable_path": '/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver'}
browser = Browser("chrome",headless=False, **executable_path )

In [161]:
# url of scraping and open browser in split 
url= "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [162]:
response= requests.get(url)
soup= bs(response.text, "html.parser")

In [163]:
mars_weather=[p.text for p in soup.find_all("p",class_="tweet-text")][0]

In [164]:
print(mars_weather)

InSight sol 504 (2020-04-27) low -93.6ºC (-136.5ºF) high -6.7ºC (20.0ºF)
winds from the SW at 4.6 m/s (10.3 mph) gusting to 15.0 m/s (33.6 mph)
pressure at 6.80 hPapic.twitter.com/U8P9d9J696

In [103]:
#Import table from url through pandas 
facts_df = pd.read_html("https://space-facts.com/mars/")[0]

print(facts_df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [84]:
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [83]:
#Convert to html 
htable = facts_df.to_html()
#print html 
print(htable)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [174]:
executable_path = {"executable_path": "/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
browser = Browser("chrome",headless=False, **executable_path )

In [175]:
# url of scraping and open browser in split 
url= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [176]:
images = bs.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    print(image['src']+'\n')

NameError: name 're' is not defined