In [76]:
#Dependencies 
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import requests
from selenium import webdriver

In [77]:
def init_browser():
    executable_path = {"executable_path": "/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
    browser = Browser("chrome",headless=False, **executable_path )
    return browser

In [78]:
#Create dictionary 
mars_code ={}

In [79]:
def scrape_article():
    browser = init_browser()

In [80]:
    executable_path = {"executable_path": "/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
    browser = Browser("chrome",headless=False, **executable_path )

In [81]:
#Url of scraping and open browser in split 
url= "https://mars.nasa.gov/news/"
browser.visit(url)

In [82]:
    response = requests.get(url)
    html = browser.html

In [83]:
    #Parse results with bs 
    soup = bs(response.text, "html.parser")

In [84]:
#Scrape latest news title 
nasaTitle= soup.find("div", class_="content_title").text
# Print title
print(nasaTitle)

Alabama High School Student Names NASA's Mars Helicopter

In [85]:
    news_title= "Mars Helicopter Attached to NASA's Perseverance Rover"

In [86]:
# Scrape latest paragraph text
nasaBody= soup.find("div", class_="rollover_description").text
# Print body
print(nasaBody)

Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [87]:
    news_p= "The team also fueled the rover's sky crane to get ready for this summer's history-making launch."

In [88]:
return mars_code
browser.quit()

SyntaxError: 'return' outside function (<ipython-input-88-89140ebda375>, line 1)

In [ ]:
def scrape_image():
    browser = init_browser()

In [251]:
    executable_path = {"executable_path": "/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver"}
    browser = Browser("chrome",headless=False, **executable_path )

In [252]:
#Url of scraping image and open browser in split 
    url= "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
    browser.visit(url)

In [253]:
#Click full screen button with splinter 
    marsIm= browser.find_by_id("full_image")
    marsIm.click()

In [254]:
#Click more info button with splinter
    browser.is_element_present_by_text("more info")
    marsIm2= browser.find_link_by_partial_text("more info")
    marsIm2.click()

In [255]:
#Parse with bs 
    html = browser.html
    soup = bs(html, "html.parser")

In [256]:
#Select 
    pic= soup.select_one("figure.lede a img").get("src")
    print(pic)

/spaceimages/images/largesize/PIA22893_hires.jpg

In [263]:
# set base url and combine pic 
    baseurl= "https://www.jpl.nasa.gov"
    featuredImage= baseurl + pic
    print(featuredImage)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22893_hires.jpg

In [ ]:
    return mars_code
    browser.quit()

In [ ]:
def scrape_tweet()
    browser = init_browser()

In [160]:
    executable_path = {"executable_path": '/usr/local/Caskroom/chromedriver/81.0.4044.69/chromedriver'}
    browser = Browser("chrome",headless=False, **executable_path )

In [161]:
# url of scraping and open browser in split 
    url= "https://twitter.com/marswxreport?lang=en"
    browser.visit(url)

In [162]:
    response= requests.get(url)
    soup= bs(response.text, "html.parser")

In [163]:
    mars_weather=[p.text for p in soup.find_all("p",class_="tweet-text")][0]

In [184]:
    print(mars_weather)

InSight sol 504 (2020-04-27) low -93.6ºC (-136.5ºF) high -6.7ºC (20.0ºF)
winds from the SW at 4.6 m/s (10.3 mph) gusting to 15.0 m/s (33.6 mph)
pressure at 6.80 hPapic.twitter.com/U8P9d9J696

In [ ]:
    return mars_code
    browser.quit()

In [ ]:
def fact_table
    browser = init_browser()

In [103]:
#Import table from url through pandas 
facts_df = pd.read_html("https://space-facts.com/mars/")[0]

print(facts_df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [84]:
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [83]:
#Convert to html 
htable = facts_df.to_html()
#print html 
print(htable)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [ ]:
    return mars_code
    browser.quit()